* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
}
.askhead {
  text-align: center;
  color: #c7c9ca;
  padding-bottom: 50px;
}
.askhead h2 {
  font-size: 50px;
  color: #fff;
}
.askpage {
  position: relative;
  width: 84.1%;
  right: 0;
}
.askcontainer {
  padding: 50px;
  padding-top: 150px;
  background: linear-gradient(135deg, #6a11cb, #2575fc);
}
#accordionExample {
  max-width: 70%;
}
section h3 {
  color: #9fa2f8;
  padding: 30px 0;
}
