header {
  position: fixed;
  background-color: #d4d5d6;
  z-index: 100;
  width: 100%;
}
.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* max-width: 1200px; */
  padding: 10px;
}
.logo {
  width: 50px;
  border-radius: 10px;
  cursor: pointer;
}

.search {
  width: 25%;
  position: relative;
}
.search input {
  height: 30px;
  padding: 20px;
  width: 100%;
  border-radius: 20px;
  font-size: 1em;
  border: none;
  background-color: #e6e7e9;
}
.search input:focus {
  outline: none;
}
.search span {
  position: absolute;
  right: 2px;
  top: 2px;
  padding: 5px 7px 7px 8px;
  border-radius: 20px;
  background-color: #cad7fa;
  cursor: pointer;
}
.searchIcon {
}
.header ul {
  display: flex;
  align-items: center;
  text-decoration: none;
  list-style: none;
  margin: auto;
}
.header ul li {
  cursor: pointer;
  text-decoration: none;
  border-radius: 10px;
  display: flex;
  align-items: center;
  padding: 10px 15px;
  /* border-right: 1px solid; */
}
.header ul li a {
  text-decoration: none;
  color: #2c2c2c;
  display: flex;
  gap: 5px;
  align-items: center;
}
.header ul li:hover {
  color: rgb(217, 180, 252);
  background-color: #cad7fa;
}
.header ul li a:hover {
  color: rgb(29, 6, 161);
}

.header ul li a img {
  border-radius: 10px;
}

.cart {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  cursor: pointer;
  border-radius: 20px;
  background-color: #cad7fa;
  position: relative;
}

.cart:hover {
  background-color: rgb(124, 214, 139);
}
.cartItems {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  background-color: #aa0874;
  padding: 0px 5px;
  border-radius: 50%;
  color: azure;
}

nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(#d4d5d6, #3532c5 40% 70%, #d4d5d66e);
  padding: 0 10px;
  margin: 0;
}
nav ul li {
  padding: 10px;
  cursor: pointer;
  list-style: none;
}
nav ul li a {
  text-decoration: none;
  color: #c7c5c9;
}

.custom-shape-divider-bottom-1741867119 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1741867119 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 127px;
}

.custom-shape-divider-bottom-1741867119 .shape-fill {
  fill: #d4d5d6;
}

/* Cart Section */
.cart-container {
  position: fixed;
  top: 0px;
  right: -300px;
  width: 300px;
  height: 100%;
  background: #fff;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.2);
  transition: right 0.3s ease-in-out;
  padding: 20px;
  overflow-y: auto;
}
.cart-container.active {
  right: 0;
}
.cart-header {
  display: flex;
  justify-content: space-between;
  align-items: start;
  padding: 10px 0;
  border-bottom: 1px solid #e0e0e0;
}
.cart-header i {
  font-size: 1.5em;
  cursor: pointer;
  color: #606063;
}
.cart-header i:hover {
  color: #c5069c;
}

.cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
