.category {
  position: fixed;
  top: 100px;
  height: calc(100vh - 25px);
  width: 17%;
  background-color: #8589ff;
  overflow-y: scroll;
  transition: all 1s;
}
.headCategory {
  font-size: 1.4em;
  padding: 20px;
  text-align: center;
}

@media (max-width: 780px) {
  .category {
    width: 25%;
  }
}
@media (max-width: 600px) {
  .category {
    display: none;
  }
}
